#body {
    background-color: rgb(190, 138, 59);
}

#titulo1, #titulo2, #titulo3, #titulo4, #titulo5 {
    color: rgb(21, 3, 39);
    
}

#section1{
    background-color: rgb(211, 211, 133);
    
}

#section2{
    background-color: rgb(211, 211, 133);
}

#section3{
    background-color: rgb(211, 211, 133);
}

#section4{
    background-color: rgb(211, 211, 133);
}

#div1, #div2, #div3, #div4 
{
margin: auto;

}

.linkedin{
    width: 291px;
    height:79.46px;
}
